
.heading
{
    text-align: center;
}
.content-view
{
    background-color: lightcyan;
}
.content
{
    line-height: 48px;
    padding: 15px;
    font-size:20px;
}
h1{
    color: black;
    padding: 10px;
    margin: 3px;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
    margin: 0 !important;
  }
  .btn-edit {
    background: black !important;
    color: #fff;
    outline: none;
}
.thead{
    background-color: black;
    color: #fff;
}
.select{
    min-width: 30%;
    max-width: 50%;
    padding-bottom: 20px;
}
.selector {
    padding: 5px 10px;
    border-radius: 6px;
}
.tbody{
    background-color: white;
}
.trData{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
    