
.heading
{
    text-align: center;
}
.content-view
{
    background-color: lightcyan;
}
.content
{
    line-height: 48px;
    padding: 15px;
    font-size:20px;
}
h1{
    color: black;
    padding: 10px;
    margin: 3px;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
    margin: 0 !important;
  }
  .btn-edit {
    background: black !important;
    color: #fff;
    outline: none;
}
.thead{
    background-color: black;
    color: #fff;
}
.select{
    min-width: 30%;
    max-width: 50%;
    padding-bottom: 20px;
}
.selector {
    padding: 5px 10px;
    border-radius: 6px;
}
.tbody{
    background-color: white;
}
.trData{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}